<h1><%= @student.to_s %></h1>

 # <%= @student.active == false ? "This student is currently inactive." : "This student is currently active" %>

 <% if @student.active == false %>
    This student is currently inactive.
    <% else %>
    This student is currently active.
<% end %>